body {
  background-color: rgb(4, 37, 58);
  font-size: 1.2rem;
  max-width: 100vw;
  max-height: 100vh;
  margin-bottom: 50px;
}

h1 {
  color: rgb(225, 221, 191);
  font-size: 4rem;
  text-align: center;
  line-height: 130%;
}

h2{
  color: rgb(225, 221, 191);
  font-size: 3rem;
  text-align: center;
}

form {
  text-align: center;
}

input {
  transition: 0.1s ease-in-out;
  background-color: rgb(225, 221, 191);
  padding: 1rem 2rem;
  width: 60%;
  border: none;
  font-size: 1.4rem;
  color: rgb(4, 37, 58);
}

input:focus, input:active {
  transition: 0.1s ease-in-out;
  outline: 2px solid rgb(225, 221, 191);
  border: none;
  outline-offset: 3px;
}

.add-btn {
  padding: 1.3rem;
  font-size: 1.1rem;
}

.add-btn {
  display: block;
  background-color: rgb(225, 221, 191);
  border: none;
  margin: auto;
  margin-top: 20px;
  padding: 0.8rem 4rem!important;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  /* background-color: #008080; */
  padding: 0 10px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(4, 37, 58);
  margin-right: 40px;
}

.todo-container {
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
  background: rgb(225, 221, 191);
  min-height: 400px;
  padding: 20px 0;
}

.common-button {
  font-size: 1rem;
  border: none;
}

.common-button img{
  width: 30px; 
  cursor: pointer;

 }
 
.check-btn.common-button img{
  width: 25px; 
  cursor: pointer;
 }

.todo div{
  display: flex;
  align-items: center;
  gap: 50px;
}